
.content-details-screen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.content-details-left {
    height: 100%;
    width: 50%;
    overflow-y: auto;
    border-right: solid 5px var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-details-left h1 {
    margin-top: 12%;
    font-size: 36px;
    width: fit-content;
    text-align: center;
    border-bottom: solid 3px var(--black);
}

.content-details-right {
    height: 100%;
    width: 50%;
    background-color: var(--black-transparent);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content-details-right .content-empty-arrow:hover {
    background: none;
    cursor: auto;
    opacity: 100%;
}

.content-details-right .content-left-arrow {
    background-position: right;
}

.content-details-right .content-right-arrow {
    background-position: left;
}

.content-details-right div {
    height: 100%;
    width: 25%;
    background-image: url(../../../assets/image/transparent_background.png);
    background-size: cover;
    transition: all 0.2s;
    opacity: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-details-right div img {
    width: 40%;
    filter: drop-shadow(-2px 2px 25px var(--white));
}

.content-details-right div:hover {
    transition: all 0.2s;
    background-image: url(../../../assets/image/transparent_black_background.png);
    opacity: 100%;
    cursor: pointer;
}


@media screen and (min-width: 320px) and (max-width: 479px) {
    .content-details-screen {
        flex-direction: column-reverse;
    }

    .content-details-right {
        width: 100%;
        height: 25%;
        border-bottom: double 6px var(--black);
    }

    .content-details-left {
        width: 100%;
    }

    .content-details-left h1 {
        margin: 2rem 0;
    }

    .content-details-right div {
        background-image: url(../../../assets/image/transparent_black_background.png);
    }

    .content-details-right .content-left-arrow {
        opacity: 100%;
    }
    
    .content-details-right .content-right-arrow {
        opacity: 100%;
    }
}