
.back-button-black {
    background: none;
    border: none;
    background-image: url(../../../assets/image/back_arrow_1.png);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 70px;
    height: 10%;
    position: absolute;
    top: 15px;
    left: 15px;
    transition: all 0.3s;
    font-size: 32px;
    color: transparent;
    font-family: primaryFont, sans-serif;
}

.back-button-black:hover {
    transition: all 0.3s;
    cursor: pointer;
    color: var(--black);
    background-image: url(../../../assets/image/back_arrow_2.png);
}


.back-button-white {
    background: none;
    border: none;
    background-image: url(../../../assets/image/back_arrow_white_1.png);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 70px;
    height: 10%;
    position: absolute;
    top: 15px;
    left: 15px;
    transition: all 0.3s;
    font-size: 32px;
    color: transparent;
    font-family: primaryFont, sans-serif;
}

.back-button-white:hover {
    transition: all 0.3s;
    cursor: pointer;
    color: var(--white);
    background-image: url(../../../assets/image/back_arrow_white_2.png);
}


@media screen and (min-width: 320px) and (max-width: 1300px) {

    .back-button-black {
        height: 0;
        width: 0;
        font-size: 0;
        padding: 0;
    }
    .back-button-white {
        height: 0;
        width: 0;
        font-size: 0;
        padding: 0;
    }
}

@media screen and (min-width: 1440px) {
    
}