
.campaign-screen {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(../../../assets/image/white_screen.png);
    background-size: cover;
}

.campaign-screen section {
    height: 75%;
    width: 75%;
    border: double 6px var(--black);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.campaign-screen section .campaign-subscribe {
    height: 95%;
    min-width: 250px;
    max-width: 250px;
    border: none;
    border: 6px double var(--grey);
    transition: all 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-family: primaryFont, sans-serif;
    color: var(--grey);
    margin: 0 5px;
}

.campaign-screen section .campaign-subscribe:hover {
    transition: all 0.1s;
    color: var(--terciary);
    cursor: pointer;
    border: double 8px var(--terciary);
}

@media screen and (min-width: 320px) and (max-width: 479px) {
    .campaign-screen header h3{
        font-size: 18px;
    }
    
    .campaign-screen section {
        width: 85%;
        border: double 4px;
        flex-direction: column;
        align-items: self-start;
    }
    
    .campaign-screen section .campaign-subscribe {
        margin: 0;
        width: 100%;
        max-width: none;
        min-height: 25%;
        max-height: 25%;
    }
}

@media screen and (min-width: 480px) and (max-width: 1023px) {

}

@media screen and (min-width: 1440px) {
    
}