
.loading {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--black-transparent);
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading img {
    width: 150px;
    height: 150px;
}
