
.campaign-screen section .modal div {
    width: 50%;
    height: 90%;
    border: solid var(--black) 3px;
    background-color: var(--background);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.campaign-screen section .modal .loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--black-transparent);
    display: flex;
    align-items: center;
    justify-content: center;
}

.campaign-screen section .modal div section {
    width: 90%;
    border-radius: 0;
    box-shadow: none;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
    .campaign-screen section .modal div {
        width: 95%;
        height: 75%;
    }

    .campaign-screen section .modal div .header h1 {
        font-size: 28px;
    } 

    .campaign-screen section .modal div .header h3 {
        margin: 0;
        text-align: center;
    } 

    .campaign-screen section .modal div section {
        height: 80%;
    }
}